body {
    place-content: center;
    width: 100%;
    height: 500px;
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-attachment: fixed;
    font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
    }

a:link, a:visited, a:active {
    color: white;
    text-decoration:none;
}

/*header*/

.logoHeader {
    display: block;
    margin: 0px auto;
    margin-bottom: 15px;
}

.menu {
    width: 100%;
    display: flex;  flex-direction: row; 
    justify-content: center;
    align-items: baseline;
    background-color: rgba(0, 0, 0, 0.452);
}

/*fin header*/
/*footer*/

.footer {
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    background-color: #07243b;
    color: white;
    font-size: small;
    text-align: center;
}

/*fin footer*/
/*buscador*/

.botonMenu {
    align-items: center;
    height: 25px;
    background-color: transparent;
    border: transparent;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}

.botonMenu:hover{
    transition:all .5s ease-in-out;
    background: rgba(0, 0, 0, 0.719);
    color: #fff !important
}

.buscador {
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: white;
}

.cajaBuscador {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

/*fin menu*/
/*temporadas*/

.inicioTemporadas {
    display: grid;
    grid-template-columns: 1400px;
    justify-content: center;
}

.filaTemporadas {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.portadaTemporada {
    width: 100%;
    display: flex;
    margin: 5px;
    filter: grayscale(90%);
}

.portadaTemporada:hover{
    transition:all .5s ease-in-out;
    filter: grayscale(00%);
}

/*fin temporadas*/

